<!DOCTYPE html>
<html>
{% load static %}
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1,shrink-to-fit=no, user-scalable=0" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style_preloader.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Raleway&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/kite.js' %}" crossorigin="anonymous"></script>
  <title>LionFx | Sign up</title>
  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/sweetalert.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}" />
  <link href="http://db.onlinewebfonts.com/c/15a9075ddf4ff1158eb03abbc873a3a4?family=Frank-Light" rel="stylesheet"
    type="text/css" />
  <script src="{% static 'js/jquery.cycle.all.js' %}"></script>
  <script type="text/javascript">
    $(window).on('load', function () {
      $('.preloader').addClass('complete');
    });
  </script>
  <link href="{% static 'images/favicon.png' %}" rel="icon" type="image/x-icon">
</head>

<body>
 

  <section class="wrapper container-fluid">
    <section>
      <div class="container-fluid col-f-nav">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-12">
							<a class="navbar-brand" href="index.html">
								<img src="{% static 'images/logo.png' %}" class="brand" /></a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
								aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<img src="{% static 'images/icon/hamburger-blk.png' %}" />
							</button>
						</div>
						<!-- Navbar section -->
						<div class="col-md-5 col-sm-12 nav">
							<nav class="navbar navbar-expand-lg navbar-light">

								<div class="collapse navbar-collapse" id="navbarSupportedContent">
									<ul class="navbar-nav mr-auto">
										<li class="nav-item">
											<a class="nav-link"> </a>
										</li>
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
												data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												MARKETS
											</a>
											<div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
												<a class="dropdown-item" href="crypto.html">
													<i class="fas fa-angle-right drop-icon-left"></i> CRYPTOS</a>
												<a class="dropdown-item" href="indices.html">
													<i class="fas fa-angle-right drop-icon-left"></i>
													INDICIES</a>
												<a class="dropdown-item" href="forex.html">
													<i class="fas fa-angle-right drop-icon-left"></i> FOREX</a>
												<a class="dropdown-item" href="commodities.html">
													<i class="fas fa-angle-right drop-icon-left"></i>
													ENERGIES</a>
												<a class="dropdown-item" href="shares.html">
													<i class="fas fa-angle-right drop-icon-left"></i> SHARES</a>
												<a class="dropdown-item" href="options.html">
													<i class="fas fa-angle-right drop-icon-left"></i> OPTION</a>
												<a class="dropdown-item" href="etfs.html">
													<i class="fas fa-angle-right drop-icon-left"></i> ETFS</a>
											</div>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="about.html">ABOUT US</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="faq.html">FAQS</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="contact.html">CONTACTS</a>
										</li>
										
									</ul>
								</div>
							</nav>
						</div>
						<div class="col-md-4 col-sm-12 top-contact-wrap">

							<a href="sign-up.html" class="top-signup float-right">
								Signup
							</a>
							<a href="sign-in.html" class="top-login float-right display-none-mobile">
								Login
							</a>
						</div>
					</div>
				</div>
			</div>

      <section class="container-fluid register-bg">
        <div class="row">
          <div class="col-md-5 col-sm-12 reg-first-col">
            <h1>
              Get more from the markets <br /> LionFx</h1>
            <div class="p-20"></div>
            <h5>
              Trade FX, cryptocurrencies, gold, oil, indices and stocks
              with <b> tight spreads, fast execution </b> and <b> cash rebates </b>
            </h5>
            <small> *T&Cs apply. Find full details of our rewards program on the website</small>
          </div>
          <div class="col-md-7 col-sm-12 new">
            <div class="reg-form">
              <h4 class="white text-center"> Sign up with LionFx in a few minutes</h4>
              <form class="reg-box" method='POST' action="{% url 'signup' %}" id="reg-process">
                {% csrf_token %}
                <h4 class="white"> Registration</h4>
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <!-- Surround the select box within a "custom-select" DIV element.
                          Remember to set the width: -->
                    <div class="reg-custom-select">
                      <select name='account_type' id="account_type">
                        <option value="0" class="lite-ash-color">Select Leverage</option>
                        <option value="1.25">1.25 </option>
                        <option value="1.20">1.20</option>
                        <option value="1.33">1.33</option>
                        <option value="1.50">1.50</option>
                        <option value="1.100">1.100</option>
                        <option value="1.200">1.200</option>
                        <option value="1.400">1.400</option>
                        <option value="1.500">1.500</option>
                      </select>
                    </div>
                  </div>
                </div>
                <br />
                <h5 class="white"> 1.Client Personal Information </h5>
                <br />
                <section class="row">
                  <div class="input-wrap col-12">
                    <div class="reg-custom-select">
                      <select name="account_title" id="account_title">
                        <option value="0">Title *</option>
                        <option value="mrs"> Mrs </option>
                        <option value="miss">Miss</option>
                        <option value="mr">Mr </option>
                        <option value="dr">Dr </option>
                      </select>
                    </div>
                  </div>
                  <br />
                  <div class="input-wrap col-12">
                    <input type="number" class=" input-box" required="" name="mobile_number" id="mobile_number">
                    <label> Phone </label>
                  </div>
                  <div class="input-wrap  col-md-6 col-sm-12">
                    <input type="text" class=" input-box" required="" name="first_name" id="first_name">
                    <label>First Name </label>
                  </div>
                  <div class="input-wrap col-md-6 col-sm-12">
                    <input type="text" class=" input-box" required="" name="last_name" id="last_name">
                    <label>Last Name </label>
                  </div>
                  <div class="input-wrap col-md-6 col-sm-12">
                    <input type="password" class=" input-box" required="" name="password" id="password">
                    <label> Password * </label>
                  </div>
                  <div class="input-wrap col-md-6 col-sm-12">
                    <input type="password" class=" input-box" required="" name="password2" id="password2">
                    <label>Re-enter Password * </label>
                  </div>
                  <div class="input-wrap  col-md-6 col-sm-12">
                    <input type="text" class=" input-box" required="" name="zip" id="zip">
                    <label>Zip Code *</label>
                  </div>
                  <div class="input-wrap  col-md-6 col-sm-12">
                    <input type="text" class=" input-box" required="" name="wallet" id="username">
                    <label>Wallet Address *</label>
                  </div>
                  <div class="input-wrap col-md-12 col-sm-12">
                    <input type="email" class=" input-box" required="" name="email" id="email">
                    <label>Email * </label>
                  </div>
                  <br />

                  <br />
                  <div class='p-20'> </div>
                  <div class="col-12">
                    <label> Select Country </label>
                    <select name="country" size="1" class="form-control" id="country" placeholder="Select Country"
                      style="font-family: Montserrat, sans-serif; height: 3.25rem; border-radius: 0px;">
                      <option style="font-family: Montserrat, sans-serif;" value="Afghanistan">Afghanistan</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Albania">Albania</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Algeria">Algeria</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Andorra">Andorra</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Angola">Angola</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Anguilla">Anguilla</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Antarctica">Antarctica</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Antigua and Barbuda">Antigua and Barbuda</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Argentina">Argentina</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Armenia">Armenia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Aruba">Aruba</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Australia">Australia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Austria">Austria</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Azerbaijan">Azerbaijan</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Bahamas">Bahamas</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Bahrain">Bahrain</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Bangladesh">Bangladesh</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Barbados">Barbados</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Belarus">Belarus</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Belgium">Belgium</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Belize">Belize</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Benin">Benin</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Bermuda">Bermuda</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Bhutan">Bhutan</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Bolivia">Bolivia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Bosnia and Herzegowina">Bosnia and Herzegowina</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Botswana">Botswana</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Bouvet Island">Bouvet Island</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Brazil">Brazil</option>
                      <option style="font-family: Montserrat, sans-serif;"value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Brunei Darussalam">Brunei Darussalam</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Bulgaria">Bulgaria</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Burkina Faso">Burkina Faso</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Burundi">Burundi</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Cambodia">Cambodia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Cameroon">Cameroon</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Canada">Canada</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Cape Verde">Cape Verde</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Cayman Island">Cayman Islands</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Central African Republic">Central African Republic</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Chad">Chad</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Chile">Chile</option>
                      <option style="font-family: Montserrat, sans-serif;"value="China">China</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Christmas Island<">Christmas Island</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Colombia">Colombia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Comoros">Comoros</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Congo">Congo</option>
                      <option style="font-family: Montserrat, sans-serif;"value="DR Congo">DR Congo
                      </option>
                      <option style="font-family: Montserrat, sans-serif;"value="Cook Islands">Cook Islands</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Costa Rica">Costa Rica</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Cote d'Ivoire">Cote d'Ivoire</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Croatia (Hrvatska)">Croatia (Hrvatska)</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Cuba">Cuba</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Cyprus">Cyprus</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Czech Republic">Czech Republic</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Denmark">Denmark</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Djibouti">Djibouti</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Dominica">Dominica</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Dominican Republic<">Dominican Republic</option>
                      <option style="font-family: Montserrat, sans-serif;"value="East Timor">East Timor</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Ecuador">Ecuador</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Egypt">Egypt</option>
                      <option style="font-family: Montserrat, sans-serif;"value="El Salvado">El Salvador</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Equatorial Guinea">Equatorial Guinea</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Eritrea">Eritrea</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Estonia">Estonia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Ethiopia">Ethiopia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Faroe Islands">Faroe Islands</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Fiji">Fiji</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Finland">Finland</option>
                      <option style="font-family: Montserrat, sans-serif;"value="France">France</option>
                      <option style="font-family: Montserrat, sans-serif;"value="France, Metropolitan">France, Metropolitan</option>
                      <option style="font-family: Montserrat, sans-serif;"value="French Guiana">French Guiana</option>
                      <option style="font-family: Montserrat, sans-serif;"value="French Polynesia">French Polynesia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="French Southern Territories">French Southern Territories</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Gabon">Gabon</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Gambia">Gambia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Georgia">Georgia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Germany">Germany</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Ghana">Ghana</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Gibraltar">Gibraltar</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Greece">Greece</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Greenland">Greenland</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Grenada">Grenada</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Guadeloupe">Guadeloupe</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Guam">Guam</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Guatemala">Guatemala</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Guinea">Guinea</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Guinea-Bissau">Guinea-Bissau</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Guyana">Guyana</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Haiti">Haiti</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Heard and Mc Donald Islands">Heard and Mc Donald Islands</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Honduras">Honduras</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Hong Kong">Hong Kong</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Hungary">Hungary</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Iceland">Iceland</option>
                      <option style="font-family: Montserrat, sans-serif;"value="India">India</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Indonesia">Indonesia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Iran (Islamic Republic of of Iran)">Iran (Islamic Republic of Iran)</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Iraq">Iraq</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Ireland">Ireland</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Israel">Israel</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Italy">Italy</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Jamaica">Jamaica</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Japan">Japan</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Jordan">Jordan</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Kazakhstan">Kazakhstan</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Kenya">Kenya</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Kiribati">Kiribati</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Korea, Democratic People's Republic of Korea">Korea, Democratic People's Republic of Korea
                      </option>
                      <option style="font-family: Montserrat, sans-serif;"value="Korea, Republic of Korea">Korea, Republic of Korea</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Kuwait">Kuwait</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Kyrgyzstan">Kyrgyzstan</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Latvia">Latvia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Lebanon">Lebanon</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Lesotho">Lesotho</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Liberia">Liberia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Liechtenstein">Liechtenstein</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Lithuania">Lithuania</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Luxembourg">Luxembourg</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Macau">Macau</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Macedonia">Macedonia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Madagascar">Madagascar</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Malawi">Malawi</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Malaysia">Malaysia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Maldives">Maldives</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Mali">Mali</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Malta">Malta</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Marshall Islands">Marshall Islands</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Martinique">Martinique</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Mauritania">Mauritania</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Mauritius">Mauritius</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Mayotte">Mayotte</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Micronesia, Federated States of Micronesia<">Micronesia, Federated States of Micronesia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Moldova, Republic of Moldova<">Moldova, Republic of Moldova</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Mexico">Mexico</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Monaco">Monaco</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Mongolia">Mongolia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Montserrat">Montserrat</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Morocco">Morocco</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Mozambique">Mozambique</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Myanmar">Myanmar</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Namibia">Namibia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Nauru">Nauru</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Nepal">Nepal</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Netherlands">Netherlands</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Netherlands Antilles">Netherlands Antilles</option>
                      <option style="font-family: Montserrat, sans-serif;"value="New Caledonia">New Caledonia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="New Zealand">New Zealand</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Nicaragua">Nicaragua</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Niger">Niger</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Nigeria">Nigeria</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Niue">Niue</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Norfolk Island">Norfolk Island</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Northern Mariana Islands">Northern Mariana Islands</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Norway">Norway</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Oman">Oman</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Pakistan">Pakistan</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Palau">Palau</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Panama">Panama</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Papua New Guinea">Papua New Guinea</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Paraguay">Paraguay</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Peru">Peru</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Philippines">Philippines</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Pitcairn">Pitcairn</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Poland">Poland</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Portugal">Portugal</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Puerto Rico">Puerto Rico</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Qatar">Qatar</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Reunion">Reunion</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Romania">Romania</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Russian Federation">Russian Federation</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Rwanda">Rwanda</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Saint LUCIA">Saint LUCIA</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Samoa">Samoa</option>
                      <option style="font-family: Montserrat, sans-serif;"value="San Marino">San Marino</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Sao Tome and Principe<">Sao Tome and Principe</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Saudi Arabia">Saudi Arabia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Senegal">Senegal</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Seychelles">Seychelles</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Sierra Leone">Sierra Leone</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Singapore">Singapore</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Slovakia (Slovak Republic)">Slovakia (Slovak Republic)</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Slovenia">Slovenia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Solomon Islands">Solomon Islands</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Somalia">Somalia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="South Africa">South Africa</option>
                      <option style="font-family: Montserrat, sans-serif;"value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands
                      </option>
                      <option style="font-family: Montserrat, sans-serif;"value="Spain">Spain</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Sri Lanka<">Sri Lanka</option>
                      <option style="font-family: Montserrat, sans-serif;"value="St. Helena">St. Helena</option>
                      <option style="font-family: Montserrat, sans-serif;"value="St. Pierre and Miquelon">St. Pierre and Miquelon</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Sudan">Sudan</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Suriname">Suriname</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Svalbard and Jan Mayen Islands">Svalbard and Jan Mayen Islands</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Swaziland">Swaziland</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Sweden">Sweden</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Switzerland">Switzerland</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Syrian Arab Republic">Syrian Arab Republic</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Taiwan, Province of China">Taiwan, Province of China</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Tajikistan">Tajikistan</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Tanzania">Tanzania</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Thailand">Thailand</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Togo">Togo</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Tokelau">Tokelau</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Tonga">Tonga</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Trinidad and Tobago">Trinidad and Tobago</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Tunisia">Tunisia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Turkey">Turkey</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Turkmenistan">Turkmenistan</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Tuvalu">Tuvalu</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Uganda">Uganda</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Ukraine">Ukraine</option>
                      <option style="font-family: Montserrat, sans-serif;"value="United Arab Emirates">United Arab Emirates</option>
                      <option style="font-family: Montserrat, sans-serif;"value="United Kingdom">United Kingdom</option>
                      <option style="font-family: Montserrat, sans-serif;"value="United States">United States</option>
                      <option style="font-family: Montserrat, sans-serif;"value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Uruguay">Uruguay</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Uzbekistan">Uzbekistan</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Vanuatu">Vanuatu</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Venezuela">Venezuela</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Viet Nam">Viet Nam</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Virgin Islands (British)">Virgin Islands (British)</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Virgin Islands (U.S.)">Virgin Islands (U.S.)</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Wallis and Futuna Islands">Wallis and Futuna Islands</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Western Sahara<">Western Sahara</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Yemen">Yemen</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Yugoslavia">Yugoslavia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Zambia">Zambia</option>
                      <option style="font-family: Montserrat, sans-serif;"value="Zimbabwe">Zimbabwe</option>
                    </select>
                  </div>
                  <br />
                  <div class='p-20'> </div>
                </section>
                <div class="reg-custom-select ">
                  <select name="account_type2" id="account_type2">
                    <option value="0">Account Type *</option>
                    <option value="STARTER"> STARTER </option>
                    <option value="SILVER">SILVER </option>
                    <option value="GOLD">GOLD </option>
                    <option value="PLATINUM">PLATINUM </option>
                  </select>
                </div>
                <br />
                <div class="reg-custom-select">
                  <select name="currency" id="currency">
                    <option value="0"> Select Currency *</option>
                    <option value="usd">$ USD </option>
                    <option value="eur"> € EUR </option>
                    <option value="gbp">£ GBP </option>
                  </select>
                </div>
                <br />
                <button type="submit" class="btn c-sign-up create-acc" id="submit" style="width: 100%">Submit </button>
                <div class="p-20"></div>
              </form>
              <div id="preloader"> </div>
              <div class="p-20"></div>
              <form class="reg-box display-none" id="complete-msg">
                <h4 class="white"> Registeration Completed</h4>
                <span> Please check your mail to continue. Thank You for choosing us. </span>
                <div class="row">
                  <div class="p-20"></div>
              </form>
            </div>
          </div>
        </div>
        <script src="js/select.js"> </script>
        <script>
          $(document).ready(function () {
            $('#submit').click(function (event) {
              event.preventDefault();
              // now its time to collect the variable 
              const package = "silver";
              const account_type = $('#account_type').val();
              const account_title = $('#account_title').val();
              const mobile_number = $('#mobile_number').val();
              const first_name = $('#first_name').val();
              const last_name = $('#last_name').val();
              const email = $('#email').val();
              const password = $('#password').val();
              const password2 = $('#password2').val();
              const zip = $('#zip').val();
              const username = $('#username').val();
              const country = $('#country').val();
              const account_type2 = $('#account_type2').val();
              const currency = $('#currency').val();
              // now its time to check for empty fields in our code ...
              if (!package || !account_type || !account_title || !mobile_number || !first_name || !last_name || !email || !password || !password2 || !zip || !username || !country || !account_type2 || !currency) {
                swal({
                  text: "Please fill all fields",
                  icon: "error"
                });
              } else {
                //  checking if password matches
                if (password != password2) {
                  swal({
                    icon: 'error',
                    text: 'Password Mismatch'
                  });
                } else {
                  $.ajax({
                    type: "POST",
                    url: "/sign-up",
                    data: { package: package, account_type: account_type, account_title: account_title, mobile_number: mobile_number, first_name: first_name, last_name: last_name, email: email, password: password, zip: zip, username: username, country: country, account_type2: account_type2, currency: currency },
                    success: function (data, request, settings) {
                      $("#reg-process").hide();
                      $("#complete-msg").show();
                      swal("Success", "Your account has been created successfully", "success");
                      $('#preloader').hide();
                      $("#reset").trigger('click');
                      $('#submit').prop('disabled', true);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                      swal("Error!", XMLHttpRequest.responseText, "error");
                      $('#preloader').hide();
                    },
                    beforeSend: function (data, request, settings) {
                      $('#preloader').html('<img src="images/ajax/ajax.gif"/> <p> Please wait... </p> ');
                    },
                    complete: function (data, request, settings) {
                      // clearing the fields after the successful transfer of the variable
                      const package = $('#package').val("");
                      const account_type = $('#account_type').val("");
                      const account_title = $('#account_title').val("");
                      const mobile_number = $('#mobile_number').val("");
                      const country = $('#country').val("");
                      const first_name = $('#first_name').val("");
                      const password = $('#password').val("");
                      const email = $('#email').val("");
                      const zip = $('#zip').val("");
                    }
                  });
                }
              }
            });
            // end the submit function 
          });
      // end the document .ready
        </script>
      </section>
      <div style=" padding: 20px; "></div>
      <section class="container">
        <div class="row">
          <div class="col-md-6 sign-up-col-txt">
            <h3> After registering you will receive: </h3>
            <p> Access to the best platform for trading CFDs, Forex and Options </p>
            <p> Personal manager</p>
            <p>Weekly webinars from professional brokers</p>
            <p>Access to educational Videos</p>
          </div>
          <div class="col-md-6 sign-up-col-txt">
            <h3>We Provide: </h3>
            <p> The most advanced trading platform for trading CFD,s Forex and Options </p>
            <p> A wide range of trading tools </p>
            <p> 5 account types to suit every type of trader</p>
            <p>Daily markets analysis</p>
            <p>Over 90 assets </p>
          </div>
        </div>
      </section>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="p-20"></div>
        <div class="footer-logo float-left">
          <img src="{% static 'images/logo.png' %}" alt="EAG Investments" />
        </div>
        <div class="footer-logo float-right">
          <img src="{% static 'images/ssl.png' %}" alt="EAG Investments" />
        </div>
        <div class="clear-fix"></div>
        <hr />
        <div class="row">
          <div class="col-md-3 footer-link">
            <span>
              Are you looking for a stable, reliable, guaranteed weekly income? EAG
              Investments offers a range of options to make the most off your
              investment. Get involved to discover the power of trading.</span>
          </div>
          <div class="col-md-6 footer-link footer-list">
            <a href="index"> Home </a>
            /
            <a href="about"> About us </a>
            /
            <a href="accounts-comparison"> Sign up </a>
            /
            <a href="sign-in"> Login </a>
            /
            <a href="faq"> FAQs </a>
            /
            <a href="trade"> Trade </a>
            /
            <a href="crypto"> Cryptos </a>
            /
            <a href="indices"> Indices </a>
            /
            <a href="forex"> Forex </a>
            /
            <a href="commodities"> Energies </a>
            /
            <a href="shares"> Shares </a>
            <br />
            <br />
            <h6>Contact Information</h6>
            <span style="font-size: 1em">
              <a href="tel:+1 (325) 701-1576 ">
                <i class="fa fa-phone fa-icons"> </i> +1 (325) 701-1576
              </a>
            </span>
            / &nbsp
            <span style="font-size: 1em">
              <a>
                <i class="fas fa-map-marker-alt"></i> 1101 Pennsylvania Avenue
                Washington.
              </a>
            </span>
            / &nbsp
            <span style="font-size: 1em">
              <a href="mailto:support@eagforex.com">
                <i class="fas fa-envelope"></i> support@eagforex.com
              </a>
            </span>
          </div>
          <div class="col-md-3 footer-link">
            <span>
              About LionFxLTD <br />
              LionFxLTD is totally different from its competitors trying
              to achieve something special starting with the website design, trading
              platform, and extremely functional.</span>
          </div>
        </div>
        <br />
        <hr />
        <p style="font-size: 0.7em">
          <b> RISK WARNING: </b> &nbsp The Financial Products offered by the company
          include Contracts for Difference ('CFDs') and other complex financial
          products. Trading CFDs carries a high level of risk since leverage can
          work both to your advantage and disadvantage. As a result, CFDs may not be
          suitable for all investors because it is possible to lose all of your
          invested capital. You should never invest money that you cannot afford to
          lose. Before trading in the complex financial products offered, please
          ensure to understand the risks involved.
        </p>
      </div>
      <div class="p-20"></div>
    </footer>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom_slick.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/range-custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/counter.js' %}"></script>
    <div class="last-widget">
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="{% static 'js/embed-widget-ticker-tape.js' %}" async>
          {
            "colorTheme": "dark",
              "isTransparent": false,
                "displayMode": "adaptive",
                  "locale": "en"
            "symbols": [
              {
                "proName": "FX_IDC:EURUSD",
                "title": "EUR/USD"
              },
              {
                "proName": "BITSTAMP:BTCUSD",
                "title": "BTC/USD"
              },
              {
                "proName": "BITSTAMP:ETHUSD",
                "title": "ETH/USD"
              }
            ],
      }
        </script>
      </div>
    </div>
    <div id="comm100-button-0422747e-66ce-480e-bf06-fdd46ed90f5e"></div>
    <script type="text/javascript">
  // var Comm100API=Comm100API||{};(function(t){function e(e){var a=document.createElement("script"),c=document.getElementsByTagName("script")[0];a.type="text/javascript",a.async=!0,a.src=e+t.site_id,c.parentNode.insertBefore(a,c)}t.chat_buttons=t.chat_buttons||[],t.chat_buttons.push({code_plan:"0422747e-66ce-480e-bf06-fdd46ed90f5e",div_id:"comm100-button-0422747e-66ce-480e-bf06-fdd46ed90f5e"}),t.site_id=40100121,t.main_code_plan="0422747e-66ce-480e-bf06-fdd46ed90f5e",e("https://vue.comm100.com/livechat.ashx?siteId="),setTimeout(function(){t.loaded||e("https://standby.comm100vue.com/livechat.ashx?siteId=")},5e3)})(Comm100API||{})
    </script>
      <!--Start of Tawk.to Script-->
      <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
          var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
          s1.async = true;
          s1.src = 'https://embed.tawk.to/617a6f65f7c0440a592063b7/default';
          s1.charset = 'UTF-8';
          s1.setAttribute('crossorigin', '*');
          s0.parentNode.insertBefore(s1, s0);
        })();
      </script>
      <!--End of Tawk.to Script-->

      <script src="js/aos.js"></script>
      <script>
        let scrollRef = 0;
        window.addEventListener('scroll', function () {
          // increase value up to 10, then refresh AOS
          scrollRef <= 10 ? scrollRef++ : AOS.refresh();
        });
        AOS.init({
          duration: 1200,
        });
      </script>
  </section>
</body>


</html>